@font-face {
    font-family: 'Aloevera';
    src: url('../public/static/Aloevera.ttf');
}

@font-face {
    font-family: 'GirlasFree';
    src: url('../public/static/GirlasFree.ttf');
}

@font-face {
    font-family: 'RomanceLogic';
    src: url('../public/static/RomanceLogic.ttf');
}

@font-face {
    font-family: 'Roxale';
    src: url('../public/static/Roxale.ttf');
}