.header_container{
    width: 100%;
}

.header_wrapper{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
} 

@media only screen and (min-width: 900px)  {
    .header_wrapper{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
} 

.title{
    font-family: RomanceLogic;
    font-size: 3rem;
} 

/* BURGER */
 .header_wrapper section:first-child{
    order: 2;
} 

/* CONTACT BUTTON */
.header_wrapper section:last-child{
  visibility: hidden;
} 


@media only screen and (min-width: 900px)  {
    .title {
        font-size: 4rem;
    }
    .header_wrapper div:first-child{
        order: 1;
        visibility: hidden;
    }

    .header_wrapper section:last-child{
        order: 3;
        visibility: visible;
        padding-right: 1rem;
    }

    .title{
        order: 2;
    }
    
}  
