.header_container{
    width: 100%;
}

.header_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    align-items: flex-start;
}


@media only screen and (min-width: 900px)  {
    .header_wrapper{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
}


.title{
    font-family: RomanceLogic;
    font-size: 4rem;
    order: 1;
}


@media only screen and (max-width: 900px)  {
    .title{
    padding-bottom: 2rem;
    }
}


/* MENU */
.header_wrapper section:first-child{
    order: 2;
    visibility: visible;
}

/* CONTACT BUTTON */
.header_wrapper section:last-child{
    order: 3;
    visibility: hidden;
}

@media only screen and (min-width: 900px)  {
    .header_wrapper div:first-child{
        order: 1;
        visibility: hidden;
    }

    .header_wrapper section:last-child{
        order: 3;
        visibility: visible;
    }

    .title{
        font-family: RomanceLogic;
        font-size: 4rem;
        order: 2;
    }
    
}
