.openSidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000;
}

.hideSidebar {
    display: none;
}


.wrapper{
    font-family: RomanceLogic;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color:  rgb(0, 100, 52);
    background-color: rgb(253, 249, 237);
    padding-top: 2rem;
}

.closeContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5rem;
}

.openSidebar svg{
    font-size: 3rem;
    cursor: pointer;
}

.openSidebar a{
padding: .5rem;
}

@media only screen and (min-width: 900px)  {
    .wrapper{
        font-size: 3rem;
    }
} 

